body {
  background-color: #ddd;
  background-repeat: repeat;
  background-image: url("https://image.freepik.com/free-vector/golden-ornamental-pattern-background_1268-828.jpg")
;text-align:center;
}
h1 {
  color: fuchsia;
}
svg{
overflow:visible !important;}
.def{
  position:absolute;
  background-color:black;
  top:100px;
  left:100px;
  opacity:0;
  width:200px;
  border-radius:10px;
    padding:10px;
}

.insideInfo{
padding:10px;
  color:white;
}
.chartZone{
  text-align:center;
}

